
<div id="CurrentVotingTitle"><%= gravatar_for @user, :size => 20 %> : <%= @user.name %>
<div>
<div id="CurrentVotingOptions">
	
	Their contact info

		<%= @user.name %>, <%= @user.email %>
        
	</div>
	</div>
	
	
	
	
<div id="HistoryFrame">
<div id="HistoryTitle" >Past questions</div>

<div id="HistoryContent">
	 
<table class="profile">
  <tr>
    <td class="main">
      
      <% unless @user.ideas.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @ideas %>
        </table>
        <%= will_paginate @ideas %>
      <% end %>
    </td>
   
  </tr>
</table>
	</div>

</div>


