<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_admin_data.user), feed_admin_data.user %>
  </td>
  <td class="micropost">
    <span class="user">
    	
      <%==feed_admin_data.user.name%> posted this question: 
    </span>
    <span class="content"><%= feed_admin_data.title %><%= feed_admin_data.id %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_admin_data.created_at) %> ago.
    </span>
  </td>
  <td>
  	
  
  	
  </td>
  
  
  <% if current_user?(feed_admin_data.user) %>
  <td>
    <%= link_to "delete", feed_admin_data, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => feed_admin_data.title %>
  </td>
  <% end %>
</tr>



<% @responses = Response.find(:all, :conditions => "responseid = '#{feed_admin_data.id}'" )%>
<tr><td colspan="3">
<ul class="resulta">
	<% unless @responses.empty? %>

  <% @responses.each do |response| %>
    <li>
           <%= response.voice %>
    </li>
  <% end %>
  <% end %>
</ul>
</td></tr>
